<div class="main-screen screen-wrapper grid-container fluid">
	<div class="main-screen__topbar grid-x grid-margin-x">
		
		<div class="small-6 cell grid-x">
			<img src="https://lider-group.pro/assets/img/logo-header.png" alt="" class="main-screen__logo">
			<span class="main-screen__logo-header cell">Утилизация отходов I-IV классов опасности по РФ</span>
		</div>
		<div class="small-6 grid-x align-right">
			<img src="https://lider-group.pro/assets/img/logo-header.png" alt="" class="main-screen__logo">
			<span class="main-screen__logo-header cell">Утилизация отходов I-IV классов опасности по РФ</span>
		</div>
		
	</div>
</div>