<div class="services grid-x grid-margin-x">

	<div class="services__licensiya small-6 cell grid-y grid-margin-y">
		<h2 class="services__header">Лицензия</h2>
		<img src="assets/img/licenziya_PTU_2017_face.jpg" alt="" class="services__img-lic">
		<p class="services__text">Согласно ФЗ от 24.06.1998 № 89 компания имеет лицензию на осуществление деятельности по сбору, транспортированию, обработке, утилизации, размещению отходов 1-4 кассов опасности, содержащую 3149 наименований отходов согласно федеральному классификационному каталогу отходов.</p>
		<a href="#" class="button services__button">Подробнее</a>
	</div>

	<div class="services__service small-6 cell">
		<h2 class="services__header">Услуги</h2>

		<ul class="services__items">
			<li class="services__item">
				<a href="#">
					
				</a>
			</li>
		</ul>
	</div>

</div>